pymupdf
langchain-text-splitters
tqdm
datasets
transformers
accelerate
ipykernel
ollama
torch
transformers
peft
accelerate
safetensors
langchain_ollama
langchain
langchain-core
langchain-community
sentence-transformers
langchain-groq
python-dotenv
pinecone
langgraph
langgraph-llms
streamlit