pymupdf
langchain-text-splitters
tqdm
transformers
accelerate
langchain
langchain-core
langchain-community
sentence-transformers
langchain-groq
python-dotenv
pinecone
langgraph
fastapi[all]
uvicorn[standard]
streamlit